.imgList {
  /* align-items: inherit; */
  width: 15ex;
  margin-top: 10px;
  /* margin-bottom: -10px; */
}

.imgListXs {
  /* align-items: inherit; */
  width: 13ex;
  margin-top: 10px;
  /* margin-bottom: -10px; */
}
